<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lovo.dao.IUserDao">
	<resultMap id="userRM" type="userEntity">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="sex" column="sex" />
		<result property="tel" column="tel" />
		<result property="birthday" column="birthday" />
		<result property="age" column="age" />
	</resultMap>

	<select id="findByItem" resultMap="userRM">
		select * from t_message limit #{param1},4
	</select>
	
	<select id="getTotalPage" resultType="int">
		select count(*) from t_message
	</select>
	
	
</mapper>